<div style="display: none;">
$$
\gdef\argmin{\mathop{\mathrm{argmin}}\limits}
\gdef\argmax{\mathop{\mathrm{argmax}}\limits}
\gdef\E{\mathbb{E}}
\gdef\P{\mathbb{P}}
\gdef\R{\mathbb{R}}
\gdef\N{\mathbb{N}}

\gdef\P{\mathsf{P}}
\gdef\NP{\mathsf{NP}}
\gdef\BPP{\mathsf{BPP}}
\gdef\EXP{\mathsf{EXP}}
\gdef\TIME{\mathsf{TIME}}
\gdef\DTIME{\mathsf{DTIME}}
\gdef\NTIME{\mathsf{NTIME}}
\gdef\SPACE{\mathsf{SPACE}}
\gdef\Ppoly{\mathsf{P}_{\!/\mathsf{poly}}}
\gdef\coNP{\mathsf{coNP}}
\gdef\NEXP{\mathsf{NEXP}}
\gdef\RP{\mathsf{RP}}
\gdef\coRP{\mathsf{coRP}}
\gdef\ZPP{\mathsf{ZPP}}
\gdef\BPP{\mathsf{BPP}}
\gdef\BPTIME{\mathsf{BPTIME}}
\gdef\PH{\mathsf{PH}}
\gdef\RTIME{\mathsf{RTIME}}
\gdef\ZPP{\mathsf{ZPP}}
$$
</div>